html, body {
  margin: 0;
  padding: 0;
  height:100%;
  }
body {
  background-image: url("x_website_01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  display: flex;
  align-items:center;
  justify-content:center;

}
div.a {
  text-align: center;
}

canvas {
  display: block;
}
