html, body {
  margin: 0;
  padding: 0;
  
  background: 'http://i64.tinypic.com/bgcrb9.png'(x website-01.png);
  background-repeat: no-repeat;
  background-size: cover;

}
canvas {
  display: block;
}
